body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
body * {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
h1 {
  font-size: 32px;
  margin: 0 0 35px 0;
  color: #273D44;
  position: relative;
  line-height: 120%;
}
h2 {
  font-size: 32px;
  font-style: italic;
  color: #2581B7;
  margin: 30px 0 20px 0;
}
h3 {
  color: #2581B7;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 8px 0;
}
h4 {
  color: #273D44;
  margin: 0 0 10px 0;
  font-size: 18px;
}
p,
li {
  color: rgba(0, 0, 0, 0.45);
  line-height: 160%;
}
ul,
ol {
  margin: 0 0 30px 0;
}
ul li,
ol li {
  margin-bottom: 6px;
}
ul li {
  list-style-type: none;
  position: relative;
}
ul li:before {
  content: ".";
  position: absolute;
  left: -15px;
  font-weight: 700;
  color: inherit;
  font-size: 25px;
  top: -6px;
}
strong {
  font-weight: 500;
  color: #273D44;
}
p {
  margin: 0 0 30px 0;
}
a {
  color: #089970;
  transition: background 0.05s ease-out;
}
a:hover {
  background: #E4F7F0;
}
article {
  max-width: 750px;
  min-width: 500px;
  position: relative;
  padding: 20px 0 40px 295px;
  margin-right: 55px;
  z-index: 1;
}
.logo {
  position: relative;
  left: -12px;
  width: 175px;
  margin-bottom: 10px;
}
.logo a:hover {
  background: none;
  opacity: .8;
}
.example {
  display: flex;
  margin: 35px 0 40px 0;
  background: #E0F3FF;
  color: #2581B7;
  padding: 30px 35px;
}
.example .title {
  flex: 1;
  color: inherit;
}
.example .title h1 {
  width: 100%;
  padding: 0 0 2px 0;
  font-size: 20px;
  font-style: italic;
  position: relative;
  top: 3px;
  color: inherit;
}
.example .content {
  flex: 2;
  color: inherit;
  position: relative;
  padding-left: 22px;
}
.example .content:after {
  content: "";
  width: 2px;
  left: -2px;
  top: 4px;
  height: calc(100% - 8px);
  position: absolute;
  background: #CAE8FA;
}
.example .content p:last-child {
  margin: 0;
}
.example .content * {
  color: inherit;
}
.meta-information {
  display: flex;
  margin: 0 -20px 50px -20px;
}
.meta-information .summary,
.meta-information .details {
  margin: 0 20px;
}
.meta-information .summary {
  flex: 2;
  font-size: 18px;
  line-height: 145%;
  padding: 0 0 0 28px;
  font-style: italic;
  position: relative;
}
.meta-information .summary:after {
  content: "";
  width: 3px;
  height: calc(100% - 10px);
  left: 0;
  top: 5px;
  position: absolute;
  background: #CAE8FA;
}
.meta-information .details {
  flex: 1;
}
.meta-information .details time,
.meta-information .details .difficulty {
  color: #2581B7;
  font-weight: 700;
  margin-bottom: 3px;
  display: block;
}
.meta-information .details time:before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
}
.meta-information .details .difficulty:before {
  content: "\f007";
  font-family: FontAwesome;
  margin-right: 6px;
}
.presentation-details {
  display: flex;
  margin: 0 -20px 35px -20px;
}
.presentation-details section {
  flex: 1;
  margin: 0 20px;
}
.presentation-details section :last-child {
  margin-bottom: 0;
}
aside {
  background: #4F99C4;
  position: fixed;
  height: 100vh;
  width: 230px;
  top: 0;
  z-index: 2;
}
aside .image {
  position: relative;
}
aside .image img {
  width: calc(100% - 20px);
}
/* Left-side Navigation */
nav {
  padding: 0;
  margin: 15px 0 80px 0;
  list-style-type: none;
  position: relative;
}
nav a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 18px 34px;
  transition: background 0.05s ease-out;
}
nav a.selected,
nav a.selected:hover {
  background: #2581B7;
  color: white;
  font-weight: 500;
}
nav a:hover {
  background: #2F8DBC;
  color: #ffffff;
}
nav a:after {
  content: "";
  background: url(../assets/images/nav-selected-indicator.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.075s ease-out;
}
nav a.selected {
  color: #ffffff;
}
nav a.selected:after {
  opacity: 1;
  right: -20px;
}
/*The steps to complete list*/
.steps {
  margin: 30px 0 50px 0;
  padding: 0 0 0 60px;
}
.steps h1 {
  font-weight: 500;
  font-size: 22px;
  margin: 0 0 6px 0;
  padding: 0;
  color: #2581B7;
}
.steps time {
  margin: 0 0 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500;
}
.steps time:before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.25);
}
.steps > ol {
  padding: 0;
}
.steps > li {
  list-style-type: none;
  position: relative;
  padding: 0 0 10px 0;
  margin: 0 0 40px 0;
}
.steps > li:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: #CAE8FA;
  width: 35%;
  left: calc(22% + 50px);
}
.steps > li:last-child {
  border: none;
  margin: 0;
}
.steps > li:last-child :last-child {
  margin: 0;
}
.steps > li:before {
  position: absolute;
  left: -60px;
  top: -10px;
  font-weight: 400;
  font-size: 22px;
  color: #2581B7;
  border: solid 2px #CAE8FA;
  height: 43px;
  width: 43px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 9px;
  border-radius: 0 50% 50% 50%;
}
.steps > li:nth-child(1):before {
  content: ' 1 ';
}
.steps > li:nth-child(2):before {
  content: ' 2 ';
}
.steps > li:nth-child(3):before {
  content: ' 3 ';
}
.steps > li:nth-child(4):before {
  content: ' 4 ';
}
.steps > li:nth-child(5):before {
  content: ' 5 ';
}
.steps > li:nth-child(6):before {
  content: ' 6 ';
}
.steps > li:nth-child(7):before {
  content: ' 7 ';
}
.steps > li:nth-child(8):before {
  content: ' 8 ';
}
.steps > li:nth-child(9):before {
  content: ' 9 ';
}
.steps > li:nth-child(10):before {
  content: ' 10 ';
}
.steps ul,
.steps ol {
  padding: 0;
}
.steps ul li,
.steps ol li {
  list-style-type: none;
}
.steps ul li:before,
.steps ol li:before {
  display: none;
}
.steps ul li h2,
.steps ol li h2 {
  font-size: 15px;
  color: #273D44;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.glossary {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0 0 40px 0;
}
.glossary .term {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  display: table;
}
.glossary .term h3 {
  font-weight: 500;
  font-size: 16px;
  color: #273D44;
  margin: 0;
}
.glossary .term p {
  margin-bottom: 20px;
  margin-left: 15px;
}
.resources {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding-bottom: 30px;
}
.resources .resource {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  padding-bottom: 25px;
}
.resources .resource h4 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}
.resources .resource p {
  margin: 10px 0 0 0;
}
